<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>कैद भावना</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webpage.css' %}" />
    <script src="https://kit.fontawesome.com/f33cb3a1a4.js" crossorigin="anonymous"></script>
</head>

<body>

    <body>
        <!-- header section -->
        <header>
            <div class="sahitya"><span>साहित्य❣️रङ्ग</span></div>

            <strong>
                <ul>
                    <li><a href="webpage.html">मुख्य पृष्ठ</a></li>
                    <li><a href="#">प्रिय</a></li>
                    <li><a href="contact.html">सम्पर्क</a></li>
                    <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </strong>
        </header>

        <!-- now we will create a body section for poem -->

        <section>
            <div class="rang_main">
                <div class="rang_left_div">
                    <div class="rang_kabita">
                        <div class="paragraph">
                            <p style="font-size: 2rem;">आकाश</p>
                            <p style="font-size: .5rem;">रूपक पाठक -प्रकाशित २०७९ कार्तिक १८, शुक्रबार ०७:०१
                            </p>
                        </div>

                        <div class="content"> मेरा आखाँहरुका रङ्ग 😍<br>
                            तिम्रो ओठहरुमा पोखिएकै क्षण:😊<br>
                            हामीले संसार र्बिसियौँ |🥰<br>
                            यी परेलीहरुमा अझै पनि 🙂<br>
                            तिम्रै ओठका डोबहरु छन्:<br>
                            त्यसैले त तिमीबाट टाढा भएका,<br>
                            यी नजरहरु अझै रुन मान्दैनन्।😶<br>
                            कहिलेकाहीँ लाग्छ ❣💞<br>
                            यी आखाँहरु रुनलाई होइनन्<br>
                            प्रेम साट्टलाई 💕<br>
                            संगाल्नलाई बनेका हुन्।💌<br>
                            प्रेम कविता हो,💞<br>
                            आखाँमा रसाउन बनेका 🥰<br>
                            तिम्रै नाउँ बोकेर, ओझेल परेको:<br>
                            एउटा रसिलो कविता ।।🤗🥰</div>
                    </div>
                    <br>

                    <!-- comment dina lai -->
                    <div class="pratikriya">
                        <span>प्रतिकृया</span><br>
                        <input type="text" placeholder="तिप्पनी लेख्नुहोस्...............">
                    </div>

                </div>

                <!-- left we put calender and other poems scroll
                 -->
                <div class="rang_right_div">
                    <div class="calender">
                        <div class="date_time"><span>६:१७ बेलुका</span>
                            <span>04 NOV 2022</span>
                        </div>
                        <div class="day">
                            <span style="font-size: 2rem; ">कार्तिक,२०७९</span><br>
                            <span style="font-size: 6rem;">१८</span>
                            <span>शुक्रबार</span>
                        </div>


                    </div>
                    <div class="scroll_field">
                        <div class="lokpriya">लोकप्रिय पोस्टहरु</div>
                        <div class="aakash">
                            <img src="static/image1.jpg" alt="">
                            <span>
                                <p style="font-size: 2rem;">आकाश:</p>
                                <p>साहित्यपोस्ट २०७८ कार्तिक ३०</p>
                                <p>मंगलवार ००:०१</p>

                            </span>

                        </div>
                        <div class="prem">
                            <img src="static/image1.jpg" alt="">
                            <span>
                                <p style="font-size: 2rem;">आकाश:</p>
                                <p>साहित्यपोस्ट २०७८ कार्तिक ३०</p>
                                <p>मंगलवार ००:०१</p>

                            </span>

                        </div>
                        <div class="prem">
                            <img src="static/image1.jpg" alt="">
                            <span>
                                <p style="font-size: 2rem;">आकाश:</p>
                                <p>साहित्यपोस्ट २०७८ कार्तिक ३०</p>
                                <p>मंगलवार ००:०१</p>

                            </span>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <div class="foot">
                <span><i class="fa-regular fa-copyright"></i>Copyright 2022 साहित्य रङ्ग</span>
            </div>
        </footer>
    </body>

</html>