<html lang="en">

<head>
    <title>Nepali Datepicker v4.0</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <!-- Nepali Datepicker -->
    <link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.min.css"
        rel="stylesheet" type="text/css" />
</head>

<body>
    <p>
        <input type="text" id="nepali-datepicker" placeholder="Select Nepali
Date" />
    </p>



    </script>
</body>

</html>