body {
    padding: 0px;
    margin: 0px;
    background-color: #FCB2B2;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(PragatiNarrow-Regular.ttf);
}


header ul {
    display: flex;
    justify-content: center;
    background-color: #F87676;
    height: 2rem;



}

header ul a {
    text-decoration: none;
}

.sahitya {
    text-align: center;
    font-size: 3rem;
    margin: 1%;
}

header ul li {
    display: flex;
    text-decoration: none;

    margin-bottom: 2%;

    margin-right: 6%;
    position: relative;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    background-color: #FA5555;
    margin-left: auto;
    margin-right: auto;

}

section {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left_box .kabita_box {

    background-color: #FFF6F6;

}

a {
    text-decoration: none;
    color: black;

}

.left_box div {
    display: grid;
    padding: 1%;
    margin: 1%;
    background-color: #F87676;

}

.right_box .right_icon {

    height: 90.2%;
    margin: 1%;
    padding: 1%;
    background-color: #FFF6F6;


}

/* right box list of poem */
.right_box .right_icon .kriti_box {
    display: grid;
    background-color: #f70404;
    margin: 1%;
    padding: 1%;
    margin-top: 1%;

}

/* icon css */

.icon {
    display: flex;
    justify-content: center;
    position: relative;
    /* bottom: -75%; */

}

.icon i {
    margin: 0;
    font-size: xx-large;
}

img {
    height: 100px;
    width: 100px;
    display: block;
    float: left;
    margin: 1%;
}

.left_box div span .rupak {
    font-size: 60%;
}

footer .foot {

    background-color: #F87676;
    margin-top: 1%;
    height: 2rem;
    display: flex;
    justify-content: center;
    padding-top: .5%;
}

/* here starts css for rang.html */

.rang_main {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    /* border: 1px solid green; */
    background-color: aliceblue;
    height: 100%;



}

.rang_left_div .rang_kabita {
    padding-left: 4rem;

}

.rang_left_div .pratikriya {
    font-size: 2rem;
    padding-left: 4rem;
    margin-bottom: 1rem;

}

.rang_left_div .pratikriya input {
    width: 30rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.rang_right_div {
    display: grid;
    grid-template-rows: 1fr 4fr;
    padding: 1rem;


}

.rang_right_div .calender {
    /* border: 1px solid black; */
    background-color: #FEDFDF;
    height: 12rem;
    width: 100%;



}

.rang_right_div .calender .date_time {
    display: flex;
    justify-content: space-between;

}

.rang_right_div .calender .day {

    width: 50%;
    margin: auto;
    line-height: 3rem;
    text-align: center;
    letter-spacing: .3rem;


}



.rang_right_div .calender .date_time span {
    margin: 0 3rem;
    font-size: 2rem;
    letter-spacing: .2rem;

}

.scroll_field {
    background-color: #FEDFDF;
    margin-top: 2%;

}

.scroll_field .lokpriya {
    background-color: #FA5555;
    margin: 4% 0;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;

}

.aakash {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 3%;
    padding: 3%;
    background-color: white;
    line-height: 1rem;
}

img {
    height: 8rem;
    width: 8rem;
    margin: 1rem;
}

.prem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 3%;
    padding: 3%;
    background-color: white;
    line-height: 1rem;
}

.rang_main .rang_left_div .rang_kabita .content {
    padding: 2rem;
}

.rang_main .rang_left_div .rang_kabita .paragraph {
    line-height: 0rem;
}

.contact {
    background-color: white;
    margin: auto;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    width: 80%;
}

h1 {
    text-align: center;
}

.con {
    line-height: .5rem;
}

.title {
    font-size: 1.5rem;
}

.txtarea {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px #2f302f;
    background-color: #EFEDED;

}

.message {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px #2f302f;
    background-color: #EFEDED;

}

button {
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px #2f302f;
    background-color: #EFEDED;
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;

}

#time {
    font-family: myFirstFont;
}